.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-height: 100vh;
  min-width: 320px;
  padding: 10px;
}

.header {
  height: 54px;
  width: 100%;
}

.content {
  height: calc(100vh - 54px);
  width: 100%;
}

@media screen and (min-width: 992px) {
  .header {
    width: 992px;
  }

  .content {
    width: 992px;
  }
}